body {
    color: #000000;
    background-color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    max-width: 100%;
}

.main-img {
    width: 100%;
}

.carousel-img {
    width: 100%;
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    font-size: 34px;
    font-weight: 600;

}

.rogo {
    display: inline-block;
    border: solid 1px #000000;
    padding: 0 20px;
    margin: 0 0 0 60px;
    text-decoration: none;
    color: #000000;
}

.nav_child {
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.nav_child:nth-of-type(2) {
    margin-left: 25px;
    margin-right: 60px;
}

.pagetop {
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 38px;
    right: 20px;
    background-color: #000000;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    padding: 34px 26px;
    color: #ffffff;
    font-size: 18px;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin: 80px auto;
}

p {
    font-size: 18px;
    font-weight: normal;
}

.about-fadein {
    opacity: 0;
    /* 最初は非表示にしておく */
    transition: all 2s;
    /* 動きを滑らかに */

}

.about {
    display: flex;
    justify-content: center;
}

.about_img img {
    margin-right: 60px;
    border-radius: 50%;
}

.about_contents {
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

.about_contents ul {

    font-size: 18px;
    font-weight: normal;
}

.works-fadein {
    opacity: 0;
    /* 最初は非表示にしておく */
    transition: all 2s;
    /* 動きを滑らかに */
}

.works {
    display: flex;
    justify-content: center;
    text-align: center;
}

.works_img img {
    width: 250px;
    height: 200px;
    margin: 0 5px;

}

.works_img p {
    width: 250px;
    margin-top: 0px;
    margin-bottom: 100px;
    text-wrap: pretty;
    text-align: left;
}

/* フェードイン用のクラス */
.fadeIn {
    opacity: 1;
}

/* モーダル */

.works_img a {
    width: 100%;
}

.works_img a:hover {
    opacity: 0.8;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 888;
}

.bigimg {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.bigimg img {
    position: absolute;
    width: 50%;
    top: 55px;
    left: 25%;
    object-fit: contain;
}

.close-btn {
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 60px;
    top: 0;
    margin-top: 0;
}

.close-btn a {
    color: #fff;
    text-decoration: none;
}



footer {
    text-align: center;
}

@media screen and (max-width:767px) {

    body {
        margin: 0;
    }

    .wrapper {
        overflow: hidden;
    }

    .rogo {
        padding: 0 15px;
        font-size: 22px;
        margin: 0;
    }

    .nav_child {
        font-size: 22px;
    }

    .nav_child:nth-of-type(2) {
        margin-right: 20px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .about_img img {
        width: 90%;
        margin: 0 20px;

    }

    .about {

        display: block;
        margin: 0 35px;
    }


    .works {
        display: block;
    }

    .works_img img {
        width: 100%;
        height: 100%;
        margin: 0 auto;

    }

    .works_img p {
        width: 100%;
        text-align: center;

    }

    .bigimg img {
        top: -20px;
        width: 100%;
        left: 0;
    }

    .close-btn {
        right: 15px;
    }
}